debian/cammon.debhelper.log
debian/cammon/*
debian/cammon.substvars
debian/.debhelper
debian/debhelper-build-stamp
debian/debhelper.log
debian/files
debian/tmp
src/etc/opt/cammon/cammon.conf
*.pyc
.idea/
*.iml
