debian/debhelper-build-stamp
debian/debhelper.log
debian/files
debian/tmp
debian/watchman.debhelper.log
debian/watchman/*
debian/watchman.substvars
src/etc/opt/watchman/watchman.conf
*.pyc
.idea/
*.iml
