[Unit]
Description=CamMon Camera Monitor
Documentation=https://park-bench.github.io/ https://github.com/park-bench/cammon
After=gpgmailer.service
Wants=gpgmailer.service
StartLimitIntervalSec=1
StartLimitBurst=3

[Service]
UMask=0027
User=cammon
Group=cammon
Type=notify
Restart=always
WatchdogSec=1
TimeoutStartSec=1
TimeoutStopSec=1
ExecStartPre=+/usr/share/cammon/cammon_start_pre.sh
# TODO: Should we even have a cammond.py file?
ExecStart=/usr/share/cammon/cammond.py
OOMPolicy=continue
# Not available in current systemd: OpenFile=/etc/cammon/cammon.conf:config:read-only
SupplementaryGroups=video gpgmailer
# Not available in current systemd: SetLoginEnvironment=false
NoNewPrivileges=true
SecureBits=keep-caps-locked no-setuid-fixup no-setuid-fixup-locked noroot noroot-locked
WorkingDirectory=/
KillMode=mixed
ProtectSystem=strict
LogsDirectory=cammon
TemporaryFileSystem=/etc:ro
BindReadOnlyPaths=/etc/alternatives
BindReadOnlyPaths=/etc/cammon
BindReadOnlyPaths=/etc/fonts
BindReadOnlyPaths=/etc/group
BindReadOnlyPaths=/etc/ld.so.cache
BindReadOnlyPaths=/etc/ld.so.conf
BindReadOnlyPaths=/etc/ld.so.conf.d
BindReadOnlyPaths=/etc/passwd
TemporaryFileSystem=/home:ro
TemporaryFileSystem=/media:ro
TemporaryFileSystem=/opt:ro
TemporaryFileSystem=/snap:ro
TemporaryFileSystem=/sys:ro
TemporaryFileSystem=/var:ro
BindPaths=/var/log/cammon
BindPaths=/var/spool/gpgmailer
ReadWritePaths=/var/spool/gpgmailer/outbox /var/spool/gpgmailer/partial
PrivateTmp=True
# TODO: Put in other service files: PrivateDevices=
DeviceAllow=char-video4linux rw
PrivateNetwork=True
PrivateIPC=True
# TODO: Not available in current systemd: PrivatePIDs=True
# TODO: Put in other service files: PrivateUsers=
ProtectHostname=True
ProtectClock=True
ProtectKernelTunables=True
ProtectKernelModules=True
ProtectKernelLogs=True
# Current version does not support strict: ProtectControlGroups=strict
RestrictAddressFamilies=AF_UNIX
SystemCallArchitectures=native
RestrictNamespaces=True
LockPersonality=True
MemoryDenyWriteExecute=True
RestrictRealtime=True
RestrictSUIDSGID=True
RemoveIPC=True
# TODO: Other programs should use @signal
SystemCallFilter=~@clock @cpu-emulation @keyring @mount @privileged @reboot @setuid @swap @sync
StandardOutput=journal
StandardError=journal
LogNamespace=parkbench
# TODO: For gpgmailer, consider using LoadCredentialEncrypted=ID[:PATH]
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
