Source: watchman
Section: parkbench
Priority: required
Maintainer: eviljoel, Andrew Klapp
Build-Depends: debhelper
Standards-Version: 3.9.6.1

Package: watchman
Architecture: all
Depends: gpgmailer (>=0.8), parkbench-common (>=0.8), python-daemon, python-opencv
Description: Monitors for motion and sends encrypted e-mails upon detection.
