Source: watchman
Section: parkbench
Priority: required
Maintainer: eviljoel, Andrew Klapp
Build-Depends: debhelper
Standards-Version: 3.9.6.1

Package: watchman
Architecture: all
Depends: confighelper (>=0.3),gpgmailer (>=0.7),python-timber,python-opencv
Description: Monitors for motion and sends encrypted e-mails upon detection.
